* {
  box-sizing: border-box;
}

input[type="submit"],
select {
  -webkit-appearance: none;
  border-radius: 0;
}

header {
  height: max(3vw, 38px);
  max-width: 1200px;
  font-size: max(2.1vw, 27px);
  width: 100%;
  background-color: rgba(300, 0, 0, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
}

.header h1 {
  font-size: max(2.1vw, 27px);
}

.header a {
  text-decoration: none;
  color: rgba(0, 0, 0);
}

.header nav {
  margin: 0 0 0 auto;
}



body {
  background-color: #252525;
}

footer {
  height: max(5vw, 60px);
  margin-top: 10px;
  width: 100%;
  font-size: max(1.6vw, 20px);
  background-color: rgba(300, 0, 0, 0.9);
  bottom: 0;
  right: 0;
}

.footer nav {
  padding-left: 10px;
  padding-right: 15px;
  list-style: none;
}

.fa-brands {
  color:  rgba(0, 0, 0);
  font-weight: 900;
  content: "\f09b";
}



.container {
  max-width: 1200px;
  width: 100%;
  padding-top:  15px;
  margin: 0 auto;
}

.graph h1 {
  color: rgb(300, 0, 0);
  font-size: max(2.6vw, 30px);
}

.list h1 {
  color: rgb(300, 0, 0);
  font-size: max(2.6vw, 30px);
}

.all-list {
  color: rgb(250, 0, 0);
  font-size: max(1.7vw, 17px);
  opacity: 0.8;
}

.all-list:hover {
  opacity: 1;
}

.graph {
  text-align: left;
}

.graph-image img {
  max-width: 100%;
}

.result {
  color: white;
  font-size: max(2vw, 19px);
  text-decoration: none;
  opacity: 0.7;
}

.result:hover {
  opacity: 1;
}

.fa-undo {
  color: white;
  opacity: 0.7;
}

.fa-undo:hover {
  opacity: 1;
}

.back {
  color: white;
  font-size: max(1.5vw, 18px);
  text-decoration: none;
  opacity: 0.8;
}

.backhome {
  color: white;
  font-size: max(1.2vw, 13px);
  text-decoration: none;
  opacity: 0.7;
}

.backhome:hover {
  opacity: 1;
}


.fa-plus-circle {
  font-size: max(4.2vw, 42px);
  color: #ffff00;
  opacity: 0.9;
}

.fa-plus-circle:hover {
  opacity: 1;
}

.input {
  color: #ffff00;
  font-size: max(2.8vw, 28px);
  text-decoration: none;
  opacity: 0.88;
}

.input:hover {
  opacity: 1;
}

.ipbtn {
  color: black;
  background-color: #ffff00;
  font-size: max(1.8vw, 20px);
  opacity: 0.9;
}

.ipbtn:hover {
  opacity: 1;
}

.menu {
  padding-top: 20px;
}


.ipform {
  color: white;
  font-size: 22px;
}

.filter {
  color: #ffff00;
  font-size: max(2.2vw, 22px);
  opacity: 0.9;
  text-decoration: none;
}

.filter:hover {
  opacity: 1;
}

.fa-filter {
  color: #ffff00;
  font-size: max(2.2vw, 22px);
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  opacity: 0.9;
}

.fa-filter:hover {
  opacity: 1;
}


#id_date_year {
  width: max(10vw, 60px);
  height: 30px;
}

#id_date_month {
  width: max(10vw, 60px);
  height: 30px;
}

#id_date_day {
  width: max(10vw, 60px);
  height: 30px;
}

#id_by_in {
  width: max(15vw, 110px);
  height: 33px;
}

#id_result {
  width: max(15vw, 110px);
  height: 33px;
}

input[type='number'] {
  font-size: 20px;
}

#id_game {
  width: max(18vw, 125px);
  height: 30px;
}

#id_rate {
  width: max(15vw, 110px);
  height: 30px;
}

#id_kind {
  width: max(15vw, 110px);
  height: 30px;
}

#id_max_players {
  width: max(6vw, 35px);
}


textarea#id_memo {
  font-size: 16px;
  width: max(40vw, 167px);
  height: max(10vw, 55px);
}


#id_login {
  color: black;
}

#id_password {
  color: black;
}

input#id_login {
  width: 55%;
}

#id_email {
  color: black;
}

#id_password1 {
  color: black;
}

#id_password2 {
  color: black;
}

#id_start_date_year {
  width: max(10vw, 60px);
  height: 30px;
}

#id_start_date_month {
  width: max(10vw, 60px);
  height: 30px;
}

#id_start_date_day {
  width: max(10vw, 60px);
  height: 30px;
}

#id_end_date_year {
  width: max(10vw, 60px);
  height: 30px;
}

#id_end_date_month {
  width: max(10vw, 60px);
  height: 30px;
}

#id_end_date_day {
  width: max(10vw, 60px);
  height: 30px;
}


.cfbtn {
  color: black;
  background-color: #ffff00;
  font-size: max(1.6vw, 18px);
  opacity: 0.9;
}

.cfbtn:hover {
  opacity: 1;
}

.conform p {
  color: white;
  font-size: max(1.7vw, 20px);
}

.udbtn {
  color: black;
  background-color: #ffff00;
  font-size: max(1.8vw, 22px);
  opacity: 0.9;
}

.udbtn:hover {
  opacity: 1;
}

.detail h1 {
  color: white;
}

.detail h2 {
  color: white;
}

.update {
  color: #ffff00;
  font-size: max(2.1vw, 22px);
  text-decoration: none;
  border: solid 1px;
  opacity: 0.9;
}

.update:hover {
  opacity: 1;
}

.delete {
  color: red;
  font-size: max(2.1vw, 22px);
  text-decoration: none;
  border: solid 1px;
  opacity: 0.9;
}

.delete:hover {
  opacity: 1;
}

.updelete {
  float: left;
  padding-right: 25px;
}

.updelete-menu {
  padding-top: 25px;
  padding-bottom: 25px;
}


.log_btn {
  display: inline-block;
  border-radius: 7px;
  background-color: #00ffff;
  text-decoration: none;
  color: black;
  height: max(3vw, 38px);
  opacity: 0.85;
}

.log_btn:hover {
  opacity: 1;
}

.auth * {
  font-size: max(2vw, 20px);
  color: white;
}

.loginform * {
  font-size: max(1.7vw, 24px);
  color: white;
}

.sign {
  color: #00ffff;
  opacity: 0.85;
}

.sign:hover {
  opacity: 1.0;
}

.secondaryAction {
  color: #00ffff;
  opacity: 0.85;
}

.secondaryAction:hover {
  opacity: 1.0;
}

.primaryAction {
  color: black;
  background-color: #00ffff;
  opacity: 0.92;
}

.primaryAction:hover {
  opacity: 1.0;
}


.signup {
  color: #00ffff;
  opacity: 0.85;
  text-decoration: none;
}

.signup:hover {
  opacity: 1.0;
}

.signupbtn {
  color: black;
  background-color: #00ffff;
  opacity: 0.92;
}

.signupbtn:hover {
  opacity: 1.0;
}
