{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container auth">
  <h1>{% trans "Sign In" %}</h1>

  {% get_providers as socialaccount_providers %}

<!-- ソーシャルアカウントでログインするとき　-->
<style>/*
  {% if socialaccount_providers %}
  <p>{% blocktrans with site.name as site_name %}Please sign in with one
  of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
  for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>


  <div class="socialaccount_ballot">

    <ul class="socialaccount_providers">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>

    <div class="login-or">{% trans 'or' %}</div>

  </div>

  {% include "socialaccount/snippets/login_extra.html" %}

<!-- ここまで　-->


  {% else %}
*/</style>
  <div class="loginform">
    <p>初めての方、まだ登録していない方は
    <a href="{{ signup_url }}" class="sign">サインアップ</a></p>
<!--  {% endif %} -->

    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

      <!-- パスワードの再設定は断念
        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>-->

      <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
    </form>
  </div>

  <div class="menu">
    <a href="{% url 'sample-data-list' %}" class="backhome"><sapn class="fa fa-undo">Return</sapn></a>
  </div>

</div>
{% endblock %}

